<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">
      <img class="logo-dark" src="/img/logo/Logo_InnoScrew_ohne_Rahmen.png" alt="" height="80">
      <img class="logo-light" src="/img/logo/Logo_InnoScrew_ohne_Rahmen_darkmode.png" alt="" height="80">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Startseite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">Über uns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Neuigkeiten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/impressum" | relative_url }}">Impressum</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
